.cropped {
    clip-path: polygon(21% 22%, 24% 19%, 32% 16%, 40% 15%, 40% 15%, 50% 15%, 57% 15%, 61% 15%, 67% 16%, 73% 17%, 77% 18%, 81% 20%, 82% 21%, 81% 25%, 80% 28%, 79% 30%, 73% 32%, 69% 32%, 64% 33%, 59% 33%, 54% 33%, 49% 33%, 44% 33%, 38% 33%, 33% 32%, 28% 32%, 25% 31%, 24% 30%, 21% 23%);

}

.full {
    clip-path: polygon(0 41%, 100% 41%, 100% 100%, 0% 100%);
}

.section_2 {
    z-index: 100;
    padding-top: 170px;
}

.section_1 {
    position: absolute;
}