/* general styles */

body {
    margin: 0;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 2.8vw;
}

h2 {
    margin: 0;
    font-size: 2.1vw;
}

p {
    position: relative;
    margin: 0;
    margin-right: 10px;
    font-size: 1.8vw;
    z-index: 20;
}

ul {
    padding-left: 20%;
}

li {
    font-size: 1.8vw;
}

/* header */

.header {
    background-color: #ABD5E7;
    text-transform: uppercase;
    color: #2E33FF;
    margin: 0;
}

.header__title {
    padding: 15px;
}

/* columns */

.outter_container {
    background: url(./src/background-nav-column.png) top left repeat-y;
    background-size: 20%;
}

.inner_container {
    position: relative;
}

.inner_container::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: 1;
    content: "";
    background: url(./src/i.png) right top repeat-y;
    background-size: 5%;
}

.navigation {
    position: relative;
    z-index: 2;
    width: 16%;
    float: left;
}

.navigation__title {
    padding: 15px;
}


.football {
    position: relative;
    z-index: 2;
    margin-left: 18%;
    padding-bottom: 4%;
    padding-left: 4%;
}

.football__title {
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
}

.football__text_image {
    max-width: 35%;
    margin-right: 15px;
    margin-bottom: 10px;
    float: left;
}

/* footer */

.footer {
    background-color: #ABD5E7;
    clear: both;
    text-transform: uppercase;
    color: #2E33FF;
}

.footer__title {
    text-align: center;
    padding: 15px;
}


