// COLORS
$orange: #F58021;
$orange-dark: #D26004;
$navy: #20113D;
$black: #000000;
$turquoise: #00A092;
$white: #FFFFFF;
$grey: #C4C4C4;

// FONTS
// font-size 
$font-size-default: 1.125rem;
$font-size-H1: $font-size-default * 4.5;
$font-size-H2: $font-size-default * 3;
$font-size-H3: $font-size-default * 2.3;
$font-size-subheader: $font-size-default * 1.4;
$font-size-H1-320: $font-size-default * 2.7;
$font-size-H2-320: $font-size-default * 1.4;
// font-weight
$font-weight-extra-bold: 800;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-normal: normal;
// font-family
$font-stack: 'Montserrat', sans-serif;

// SCREEN RESOLUTIONS
$content-width: 87.5rem;

